/wp-admin/
/wp-includes/
/.htaccess
/.htpasswd
/nbproject/
/wp-comments-post.php  
/wp-config-sample.php  
/wp-cron.php  
/wp-links-opml.php  
/wp-login.php  
/wp-settings.php  
/wp-trackback.php
/index.php
/license.txt
/wp-activate.php
/wp-blog-header.php
/wp-config.php
/wp-load.php
/wp-mail.php
/wp-signup.php
/xmlrpc.php
/wp-content/languages/*.json
/wp-content/languages/*/*.json
/wp-content/plugins/akismet/
/wp-content/plugins/bbpress/
/wp-content/plugins/buddypress/
/wp-content/plugins/buddypress-docs-2.1.6/
/wp-content/plugins/buddypress-followers/
/wp-content/plugins/buddypress-links-master/
/wp-content/plugins/easy-populate-posts/
/wp-content/plugins/email-subscribers/
/wp-content/plugins/ideapush/
/wp-content/plugins/invite-anyone/
/wp-content/plugins/ju4hnewsletterconsents/
/wp-content/plugins/limit-login-attempts-reloaded/
/wp-content/plugins/taskbreaker-project-management/
/wp-content/plugins/gd-bbpress-attachments/
/wp-content/plugins/cookie-law-info/
/wp-content/plugins/buddypress-docs/
/wp-content/themes/astra-powi-child/
/wp-content/themes/bp-dusk/
/wp-content/themes/bp-ju4h/
/wp-content/themes/hello-elementor/
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/mu-plugins/
/wp-content/upgrade/ 
