#buddypress ul.item-list li {
    padding: 20px 0 0 20px;
}

#buddypress ul.item-list li div.action {
    right: 20px;
}

.ast-single-post .entry-content a {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #3b4045;
}

#buddypress span.activity {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #abb4bd;
}

#buddypress ul.item-list li div.item-desc {
    width: auto;
    margin-right: 20px;
    margin-top: 10px;
}

#buddypress ul.item-list li div.item-meta {
    line-height: 1;
}

.entry-content p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #808a95;
}

#pag-bottom .pag-count {
    margin-left: 0;
}

#buddypress div.dir-search {
    margin-top: -60px;
}

#buddypress div.dir-search #groups_search {
    height: 40px;
    padding: 10px 8px 10px 10px;
    border-radius: 4px;
    border: solid 1px #ced4d9;
    background-color: #fff;
}

#buddypress div.dir-search #groups_search_submit {
    height: 40px;
    line-height: 1;
    border-radius: 4px;
    background-color: #000000;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}


#groups-order-select #groups-order-by {
    height: 40px;
    border-radius: 4px;
    border: solid 1px #ced4d9;
    background-color: #fff;
    line-height: 1 !important;
    font-size: 14px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #656d75;
    margin-right: 20px;
}

#groups-order-select label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #656d75;
    margin-right: 10px;
}

#item-actions h2 {
    font-size: 14px;
}

#buddypress div.item-list-tabs ul li a, #buddypress div.item-list-tabs ul li span {
    padding: 0 15px;
    font-size: 13px;
    line-height: 45px;
}

#buddypress div.item-list-tabs ul li a span, #buddypress div.item-list-tabs ul li a span {
    padding: 3px 13px;
    line-height: 30px;
    border-radius: 15px;
    font-size: 13px;
}

#buddypress ul.item-list li div.meta {
    margin-top: 0;
}

#buddypress div.item-list-tabs ul li {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

#buddypress div#subnav {
    margin: 0;
}

#buddypress div#subnav ul li {
    border-right: none;
    border-bottom: none;
}

.ast-single-post .entry-title {
    font-family: Recoleta;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #3b4045;
    margin-bottom: 20px;
}

.ast-container .first-column input.btns {
    height: 52px;
    border-radius: 4px;
    background-color: #000000;
    flex: 0 0 100%;
}
